body,
html {
  /* background-color: #333; */
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.9;
}

.nav-link {
  color: #fff !important;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

#home-section {
  min-height: 700px;
  background-image: url(./img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}
.home-inner {
  padding-top: 150px;
}

.card-form {
  opacity: 0.8;
}
.fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

#explore-head-section {
  color: #fff;
  background: #333;
}

/* SIGN IN PAGE SECTION */

.home-inner-sign-in {
  padding-top: 150px;
}

#sign-in-page {
  height: 100vh;
  background-image: url(./img/bg4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.dark-overlay-sign-in {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#explore-section .fa {
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

/* SIGN IN PAGE SECTION */

#sign-up-page {
  height: 100vh;
  background-image: url(./img/bg5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.articles-container {
  margin-top: 100px;
}

/* ------------------------------------- */

.fontheader {
  font-family: "Pacifico", cursive;
}

/* article styles */
.article {
  padding: 15px;
}
.article-title {
  display: grid;
  grid-template-columns: 35px 1fr 100px;
}

.article-settings i {
  cursor: pointer;
  margin-right: 13px;
  float: right;
}
.article-settings a {
  color: #21252f;
}

.article-caption {
  cursor: pointer;
}
.article-body {
  padding-top: 20px;
}

.font-editor {
  font-family: "Oranienbaum", serif;
}
